Pods/Pods.xcodeproj/xcuserdata
*.xcscheme
*.xcshareddata
*.xcuserdata
*.scannerwork
*.mobileprovision
*.zip
*.ipa
*.cer
*.html
*.junit
librealmcore-ios.a
Bolts.framework
FBSDKCoreKit.framework
FBSDKLoginKit.framework
FBSDKPlacesKit.framework
FBSDKShareKit.framework